
.footer {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FC619C;
    color: white;
    text-align: center;
}

.footer button {
    background: transparent;
    border: none;
    color: white;
    width: 50%;
    text-align: center;
    min-height: 50px;
}

.footer button i {
    font-size: 25px;
    padding: 18px;
}

@media (max-width: 600px) {
    .footer {
        display: block;
    }
}
